body {
    background-color: #D2E5DA;
}

.rootContainer {
    padding: 20px;
}

.mapContainer {
    float: left;
    margin-left: 20px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #FFF;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mapContainer img {
    max-height: 500px;
}

/* Table style BEGIN test*/

table{
    margin: 30px;
}
.tableSection{
    position: relative;
    /*z-index: 1;*/
    float: left;
    max-width: 600px;
    background-color: #FFF;
    margin-left: 50px;

    width: auto;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
th {
    background-color: #1c7d44!important;
    color: white!important;
}
th, td, td > input {
    text-align: center!important;
    padding: 8px!important;
}
tr:nth-child(even) {background: #c0f2d5}
tr:nth-child(odd) {background: #FFF}

.tableBtn{
    background-color: transparent!important;
    border: none!important;
}

/* Table style END */