<div id="wrapper" ng-controller="adminNavCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a href="#" ng-click="logout()">Logout&nbsp;<i class="fa fa-sign-out"></i></a></li>            
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="#tdotManagement"><i class="fa fa-fw fa-pencil-square-o"></i>  TdoT Management</a>
                </li>
                <li class="active">
                    <a href="#userManagement"><i class="fa fa-fw fa-user-o"></i> User Management</a>
                </li>
                <li>
                    <a href="#stationView"><i class="fa fa-fw fa fa-list"></i> Stationsübersicht</a>
                </li>
                <li>
                    <a href="#tdotMap"><i class="fa fa-fw fa fa-map"></i> Lageplan</a>
                </li>
                <li>
                    <a href="#dashboard"><i class="fa fa-fw fa fa-line-chart"></i> Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper" ng-controller="adminUserCtrl" data-ng-init="init()">
        <!-- Alert Line BEGIN -->
        <div class="alert fade in alert-fixed" ng-show="alert.show" ng-class="'alert-' + (alert.type || 'warning')">
            <a href="" ng-click="resetAlert()" class="close" aria-label="close">&times;</a>
            <strong>{{alert.title}}</strong> {{alert.message}}
        </div>
        <!-- Alert Line END -->
        <!-- Alert Dialog BEGIN -->
        <div class="modal fade" id="alertModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Warning!</strong></h4>
                    </div>
                    <div class="modal-body">
                    <p>Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                    <button class="redbutton btnMargin" ng-hide="helper.deleteMode != 0" data-dismiss="modal" data-backdrop="false" ng-click="deleteUser()">Delete single user</button>
                    <button class="redbutton btnMargin" ng-hide="helper.deleteMode != 1" data-dismiss="modal" data-backdrop="false" ng-click="deleteMultipleUsers()">Delete multiple users</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Alert Dialog END-->
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main" >
                <<div class="col-sm-12 col-md-12 rootContainer" id="content">

                    <div>
                        <h1 class="page-header">User Management</h1>
                        <div class="contentContainer">
                            <!-- Form BEGIN-->
                            <form class="editForm" name="editForm" novalidate>
                                <h3>Single User Editing</h3>
                                <div class="form-group">
                                    <input type="text" placeholder="Username" ng-model="selectedUser.Username" required/>
                                    <input type="password" placeholder="Password" ng-Model="selectedUser.Password" required/>
                                </div>

                                <div class="form-group">
                                <div ng-mouseover="showTypeInfo()" ng-mouseleave="removeTypeInfo()"><label>Type</label><i class="fa fa-fw fa-info-circle" title="1(Admin) - 2(Station) - 3(Guide)"></i></div>
                                    <select class="form-control" ng-model="selectedUser.Type" required>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <button class="greenbutton" ng-disabled="!editForm.$valid" ng-click="stopEditing()">{{helper.formMode}}</button>
                                <button class="orangebutton" ng-click="clearForm()">Clear</button>
                            </form>
                            <!-- Form END-->

                            <!-- Table container BEGIN-->
                            <div class="tableSection">
                                <h3>Multiple User Export/Delete</h3>
                                <button class="greenbutton btnMargin" ng-click="exportMultipleUsers()">Export</button>
                                <button class="redbutton btnMargin" ng-click="helper.deleteMode=1" data-toggle="modal" data-target="#alertModal">Delete</button>
                                <table>
                                    <tr>
                                        <th><input type="checkbox" ng-model="masterCheck" ng-change="smthChecked=masterCheck"></th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Type</th>
                                        <th>Edit station</th>
                                        <th>Delete</th>
                                    </tr>
                                    <tr ng-repeat="u in users">
                                        <td><input type="checkbox" ng-model="u.Checked" ng-checked="masterCheck"></td>
                                        <td>{{u.Username}}</td>
                                        <td>{{u.Password}}</td>
                                        <td>{{u.Type}}</td>
                                        <td>
                                            <button type="button" class="tableBtn btn btn-default" aria-label="Left Align" ng-click="editUser(u)">
                                                <span class="fa fa-pencil" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="tableBtn btn btn-default" aria-label="Left Align" ng-click="setSelectedUser(u);helper.deleteMode=0" data-toggle="modal" data-target="#alertModal">
                                                <span class="fa fa-trash-o" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- Table container END-->

                            <!-- Export container BEGIN-->
                            <div class="exportSection">
                                <form name="exportForm" novalidate>
                                    <h3>Multiple User Editing</h3>
                                    <div class="form-group">
                                        <div ng-mouseover="showTypeInfo()" ng-mouseleave="removeTypeInfo()"><label>Type</label><i class="fa fa-fw fa-info-circle" title="1(Admin) - 2(Station) - 3(Guide)"></i></div>
                                        <select class="form-control" ng-model="exportUsers.Type" required>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                    <textarea placeholder="Bitte usernames mit enter trennen..." tabindex="5" ng-model="exportUsersPlain" required></textarea>
                                    <button class="greenbutton" ng-disabled="!exportForm.$valid" ng-click="addMultiple()">Add Multiple</button>
                                    <button class="orangebutton" ng-click="clearExportForm()">Clear</button>
                                </form>
                            </div>
                            <!-- Export container END-->

                            </div>
                            </div>
                            <!-- content container END-->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div><!-- /#wrapper -->