<!-- Header container BEGIN -->
<div class="container">
  <div class="info">
    <h1>uGuide - TdoT</h1>
  </div>
  <div class="container" ng-controller="navBarCtrl">
    <div class="logout">
      <a href="#" ng-click="logout()">Logout&nbsp;<i class="fa fa-sign-out"></i></a>
    </div>
    <div class="btn-group btn-group-justified navButtonBar" role="group">
        <div class="btn-group" role="group">
            <button type="button" id="btnStations" class="btn navButton btn-lg" ng-click="showStationView()">Stations</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="btnQr" class="btn navButton btn-lg" ng-click="showQrView()">QR-Codes</button>
        </div>
    </div>
  </div>
</div>
<!-- Header container END-->



<!-- Content container BEGIN-->
<div ng-controller="stationEditCtrl" data-ng-init="init()">

  <!-- Alert Line BEGIN -->
  <div class="alert fade in alert-fixed" ng-show="alert.show" ng-class="'alert-' + (alert.type || 'warning')">
    <a href="" ng-click="resetAlert()" class="close" aria-label="close">&times;</a>
    <strong>{{alert.title}}</strong> {{alert.message}}
  </div>
  <!-- Alert Line END -->

  <!-- Alert Dialog BEGIN -->
  <div class="modal fade" id="alertModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><strong>Warning!</strong></h4>
            </div>
            <div class="modal-body">
            <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
            <button class="redbutton btnMargin" data-dismiss="modal" data-backdrop="false" ng-click="deleteStation()">Delete</button>
            </div>
        </div>
      </div>
  </div>
  <!-- Alert Dialog END-->

  <div class="contentContainer">
  <!-- Form BEGIN-->
  <form class="editForm" name="editForm" novalidate>
    <div class="form-group">
      <input type="text" placeholder="Stationname" ng-model="selectedStation.Name" required/>
    </div>

    <div class="form-group">
      <label>Position</label>
      <select class="form-control" ng-model="selectedStation.Position" required>
        <option>121</option>
        <option>142</option>
        <option>141</option>
        <option>151</option>
        <option>161</option>
        <option>181</option>
      </select>
    </div>

    <div class="form-group">
      <label>Klasse</label>
      <select class="form-control" ng-model="selectedStation.Grade" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label>Gegenstand</label>
      <select class="form-control" ng-model="selectedStation.Subject" required>
        <option>POS</option>
        <option>SYP</option>
        <option>DBI</option>
        <option>SONSTIGES</option>
      </select>
    </div>

    <textarea placeholder="Beschreibe in kurzen Worten deine Station..." tabindex="5" ng-model="selectedStation.Description" required></textarea>
    <button class="greenbutton" ng-disabled="!editForm.$valid" ng-click="stopEditing()">{{helper.formMode}}</button><br>
    <button class="orangebutton" ng-click="clearForm()">Clear</button>
  </form>
  <!-- Form END-->

  <!-- Table container BEGIN-->
  <div class="tableSection">
    <table>
      <tr>
        <th>Stationsname</th>
        <th>Position</th>
        <th>Klasse</th>
        <th>Gegenstand</th>
        <th>Edit station</th>
        <th>Delete</th>
      </tr>
      <tr ng-repeat="s in stations">
        <td>{{s.Name}}</td>
        <td>{{s.Position}}</td>
        <td>{{s.Grade}}</td>
        <td>{{s.Subject}}</td>
        <td ng-hide="editMode">
            <button type="button" class="tableBtn btn btn-default" aria-label="Left Align" ng-click="editStation(s)">
                <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
        </td>
        <td>
            <button type="button" class="tableBtn btn btn-default" aria-label="Left Align" ng-click="setSelectedStation(s)" data-toggle="modal" data-target="#alertModal">
                <span class="fa fa-trash-o" aria-hidden="true"></span>
            </button>
        </td>
      </tr>
    </table>
  </div>
  <!-- Table container END-->

  <!-- Plan container BEGIN -->
  <div class="mapContainerStation">
    <img src="graphics/lageplan.png" alt="Lageplan TdoT"></img>
  </div>
  <!-- Plan container END-->

  </div>
</div>
<!-- content container END-->