<div class="container">
  
  <div class="helpBtn">
    <a href="./Manuals/index.html">Help&nbsp;<i class="fa fa-question"></i></a>
  </div>

  <div class="info">
    <h1>uGuide - TdoT</h1>
  </div>
</div>

<div class="form" ng-controller="loginFormCtrl as formCtrl" data-ng-init="init()">
  <!-- Alert Line -->
  <div class="alert fade in alert-fixed" ng-show="alert.show" ng-class="'alert-' + (alert.type || 'warning')">
    <a href="" ng-click="resetAlert()" class="close" aria-label="close">&times;</a>
    <strong>{{alert.title}}</strong> {{alert.message}}
  </div>

  <div class="thumbnail"><img src="graphics/uGuide_icon.png"/></div>
  <form class="login-form" name="loginForm" ng-submit="login()" novalidate>
    <input type="text" placeholder="username" name="username" ng-model="user.username" required/>
    <input type="password" placeholder="password" name="password" ng-model="user.password" required/>
    <button type="submit" ng-show="loginForm.$valid">Login</button>
  </form>
</div>
